// This file imports everything to be compiled

// Set Bootstrap options
$enable-gradients: true;
$enable-shadows: true;

// So we can override/access variables
@import "../../bootstrap-dark-5/functions";
@import "../../bootstrap-dark-5/dark/functions";
@import "../../bootstrap-dark-5/variables";  // defaults are here
@import "../../bootstrap-dark-5/variables-alt";  // dark color set is here

// Override variables
// Make the dark mode gradient a lil stronger
$gradient-alt: linear-gradient(180deg, rgba($black-alt, .4), rgba($black-alt, 0));

// Import our extensions
@import "../../extensions";

// Write theme code here:
@import "../scheming";
@include when-color-scheme(light) {
	.special-class {
		color: red !important;
	}
}
@include when-color-scheme(dark) {
	.special-class {
		color: green !important;
	}
}
