// This file imports everything to be compiled
// TODO: rename this file to _theme or something?
// as this is the main file you'll edit I guess

// Set Bootstrap options
$enable-gradients: true;
$enable-shadows: true;

// So we can override/access variables
@import "../../bootstrap-dark-5/functions";
@import "../../bootstrap-dark-5/dark/functions";
@import "../../bootstrap-dark-5/variables";  // defaults are here
@import "../../bootstrap-dark-5/variables-alt";  // dark color set is here

// Override variables
// Make the dark mode gradient a lil stronger
$gradient-alt: linear-gradient(180deg, rgba($black-alt, .4), rgba($black-alt, 0));

// Import our extensions
@import "../extensions";

// Write theme code here:
@import "../scheming";

@include when-color-scheme(dark) {
	.footer {
		background-image: linear-gradient(rgba(var(--bs-black-rgb), 0), var(--bs-black));
	}
}
@include when-color-scheme(light) {
	.footer {
		/* RGB 222, 226, 230 is --bs-gray-300 */
		background-image: linear-gradient(rgba(222, 226, 230, 0), var(--bs-gray-300));
    }
}
